<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="ManipleUserConsents Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./controllers</directory>
            <directory suffix=".php">./library</directory>
        </whitelist>
    </filter>
</phpunit>
