<div style="padding: 20px;">

    <h2 style="margin:0 0 1em">Zgoda na przetwarzanie danych</h2>

    <p style="margin:1em 0">
        Aby używać konta na stronie doko.mimuw.edu.pl, a także by wziąć udział w zajęciach wymagających wcześniejszej
        rezerwacji wymagane jest udzielenie zgody na przetwarzanie danych osobowych.
    </p>

    {{ form().openTag(form) | raw }}

    {% for elem in form.getElements() %}
        {{ renderScript('doko/forms/element-checkbox.twig', { elem: elem | raw }) }}
    {% endfor %}

    <p class="text-center">
        <style>
            .btn.btn-primary {
                padding: .5em 1.5em;
                border-radius: 0;
                border: 2px solid #000;
                background: transparent;
                color: #000;
            }
            .layout-main .container .btn.btn-primary:hover,
            .layout-main .container .btn.btn-primary:focus {
                background: #000;
                color: #fe0;
                outline: none;
            }
        </style>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </p>

    {{ form().closeTag() | raw }}
</div>
